#redirectButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#redirectButton:hover {
    background-color: #0056b3;
}

#redirectButton_1 {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#redirectButton_1:hover {
    background-color: #0056b3;
}

#redirectButton_2 {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#redirectButton_2:hover {
    background-color: #0056b3;
}

body {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: #bef7ff;
}

.box-container {
    position: relative;
    width: 100%;
    height: 50%;
}
#otto{
    position: absolute;
    scale: 0%;
    rotate: 0deg;
}
#myAudio{
    scale: 0;
}